# Environment
#################
NODE_ENV=local

# BUGSNAG
#################
BUGSNAG_KEY=59d438572c835ca2834d5154753b57ff

# LOG PARAMETERS (as Apache format)
#################
# Levels
#   error: 0,
#   warn: 1,
#   info: 2,  <= production
#   verbose: 3,
#   debug: 4,
#   silly: 5 <= local
#
# Concerning the rest routes, only routes with a status code >= 400 will be logged for a log level <= 2
#################
LOG_LEVEL=5

# EXCHANGE PARAMETERS
#####################
AMQP_EXCHANGE_HOST=amqp://user:user@0.0.0.0:4321
AMQP_EXCHANGE_NAME=pierre.test
AMQP_QUEUE_NAME=pierre.test.queue
AMQP_DEAD_LETTER_EXCHANGE_NAME=pierre.test.deadletter
AMQP_DEAD_LETTER_QUEUE_NAME=pierre.test.deadletter.queue

# HTTP PARAMETERS
#################
HTTP_PORT=3000
